name: CI/CD

on:
  push:
    branches: ["master"]

permissions:
  contents: read
  packages: write

env:
  IMAGE: ghcr.io/${{ github.repository_owner }}/docker_linux

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run tests in Docker image with Postgres (docker-compose.ci.yml)
        run: |
          docker compose -f docker-compose.ci.yml up --build --abort-on-container-exit --exit-code-from app
          docker compose -f docker-compose.ci.yml down -v

  build_and_push:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push PROD image
        uses: docker/build-push-action@v6
        with:
          context: .
          target: prod
          push: true
          tags: |
            ${{ env.IMAGE }}:latest
            ${{ env.IMAGE }}:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push
    steps:
      - name: Deploy on server via SSH (podman)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          port: ${{ secrets.DEPLOY_PORT }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            set -e


            podman network inspect usersnet >/dev/null 2>&1 || podman network create usersnet

            # db
            podman rm -f usersdb 2>/dev/null || true
            podman run -d --name usersdb --network usersnet \
              -e POSTGRES_USER=kubsu \
              -e POSTGRES_PASSWORD=kubsu \
              -e POSTGRES_DB=kubsu \
              docker.io/library/postgres:16-alpine

            # app
            podman rm -f usersapp 2>/dev/null || true
            podman pull "${{ env.IMAGE }}:latest"

            podman run -d --name usersapp --network usersnet \
              -e DATABASE_URL="postgresql+psycopg://kubsu:kubsu@usersdb:5432/kubsu" \
              -e PORT="${{ secrets.APP_PORT }}" \
              -e APP_PREFIX="/${{ secrets.USERNAME }}" \
              -p ${{ secrets.APP_PORT }}:${{ secrets.APP_PORT }} \
              "${{ env.IMAGE }}:latest"

            podman ps
